html, body {
    margin: 0;
    padding: 0;
}

/* Create a top navigation bar with a black background color  */
.topnav {
    overflow: hidden;
    border-bottom: 1px solid black;
}

/* Style the links inside the navigation bar */
.topnav a {
    background-color: lightgray;
    float: left;
    color: black;
    text-align: center;
    padding: 0 0.5ch;
    text-decoration: none;
    border-right: 1px solid black;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: whitesmoke;
}

.topnav a.current {
    background-color: gray;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
}

main {
    margin-inline: auto;
    width: fit-content;
}

label {
    display: inline-flex;
    flex-direction: column;
    margin: 0.5rem 0.25ch;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    td {
        border: 1px solid black;
        input {
            border: none;
        }
    }
    th {
        border: 1px solid black;
        background-color: lightgray;
    }
}

button.rm {
    background-color: red;
    color: white;
    text-align: center;
    width: 3ch;
    height: 3ch;
}

button.add, input[type=submit] {
    background-color: green;
    color: white;
    text-align: center;
    width: 3ch;
    height: 3ch;
    border-radius: 9999px;
}
